# Git
.git
.gitignore

# Bundler
.bundle
vendor/bundle

# Logs & temp
log/*
tmp/*
!/log/.keep
!/tmp/.keep

# PID files
tmp/pids/*
!/tmp/pids/.keep

# Uploaded files (ActiveStorage)
storage/*
!/storage/.keep

# Node
node_modules

# OS
.DS_Store
