services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pe_portfolio_development
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command:
      - bash
      - -lc
      - bin/setup && bin/rails s -b 0.0.0.0 -p 3000
    volumes:
      - .:/app
      - node_modules:/app/node_modules   # ← 追加（重要）
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://postgres:password@db:5432/pe_portfolio_development
    depends_on:
      - db

volumes:
  pgdata:
  node_modules:
