services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pe_portfolio_development
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    env_file:
      - .env
    build: .
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://postgres:password@db:5432/pe_portfolio_development
      # ファイル監視（Macでのホットリロード安定化）
      WATCHPACK_POLLING: "true"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: sh -lc "bin/rails css:build && bin/rails javascript:build && bin/rails db:prepare && bin/rails s -b 0.0.0.0"

volumes:
  db_data:
  bundle_cache:
