<footer class="mt-10 card px-6 py-5">
  <div class="flex items-center justify-end gap-6 text-sm">
    <a class="hover:underline" href="#" target="_blank" rel="noreferrer">Github</a>
    <a class="hover:underline" href="#" target="_blank" rel="noreferrer">X</a>
    <a class="hover:underline" href="#" target="_blank" rel="noreferrer">note</a>
    <a class="hover:underline" href="#" target="_blank" rel="noreferrer">Qiita</a>
  </div>
</footer>
